h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; 
}

body, p {
  font-family: 'Playfair Display', serif;
}


.home-container {
  width: 100%;
  margin: 0; 
  background-color: #ffffff; 
  overflow: hidden; 
}

.main-content {
  padding: 20px;
  text-align: center;
  font-size: 35px; 
  margin-top: 150px;
}

span {
  display: inline-block; 
  animation: rainbow-animation 6s linear infinite;
}

@keyframes rainbow-animation {
  0%, 100% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(360deg); }
}

@media (max-width: 768px) {
  .header, .main-content {
    padding: 10px; 
  }
}




